figcaption {
	display: block;
	border-bottom: 1px solid Aquamarine;
	padding: 5px;
	text-align: center;
}

body {
	color: DarkMagenta;
	background-image: url('../pattern.gif');
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
}

#page {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 10px double Plum;
	background-color: MintCream;
	padding: 10px;
	border-radius: 15px;
}

img {
	width: 300px;
	height: 225px;
	margin-top:15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	clear: both;
	color: #E45EFF;
	background-color: #CDECFA;
	height: 30px;
	width: 940px;
}

#nav ul {
	padding: 5px 0px 5px 30px;
	text-align: center;
}
			
#nav li {
	display: inline;
	margin-right: 40px;
}
			
#nav li a {
	color: #D092DE;
}
			
#nav li a:hover {
	color: PaleVioletRed;
}

#nav li a.current {
	color: DodgerBlue;
}

a {
	text-decoration: none;
}

#nav li a.current:hover {
	color: DodgerBlue;
}

figcaption a {
	color: #1E90FF;
}

h1, h2, h4, p{
	text-align: center;
}
